@font-face {
	font-family: 'SuperPixel';
	src: url('SuperPixel.ttf');
}

@font-face {
	font-family: 'Orbitron';
	src: url('Orbitron.ttf');
}

html, body {
	width: 100%;
	height: 100%;
	background-color: #181818;
	color: white;
}

#pong {
	width: 100vw;
	height: 100vh;
	background-color: #242424;
	display: block;
}

#bgMenu {
	display: none;
}
